#todolist-main {}

span.todo_done {
    color: silver;
    text-decoration: line-through;
}

span.todo_undone {
    color: black;
    text-decoration: none;
}

td.checkboxcolumn {
    text-align: center;
    vertical-align: middle;
    height: 16px;
    width: 16px;
}

.todocheckbox {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

table.todotable {
    table-layout: fixed;
    border-collapse: collapse;
    background: #fff;
    border: 1px solid black;
    visibility: hidden;
}

.highlight {
    background-color: #FFF8DC;
}

.normal {
    background-color: #FFFFFF;
}

.initial {
    background-color: #FFFFFF;
    color:#000000;
}

td.wrapcolumn {
    word-wrap: break-word;
    max-width:600px;
}

.todoaddbtn {
    cursor: pointer;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    background: url('images/add.png') no-repeat center center;
}

.todoaddbtn:HOVER {
    cursor: pointer;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    background: url('images/add.png') no-repeat center center;
    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}


.myItems {
    cursor: pointer;
}

.myItems:HOVER {
    cursor: pointer;
    /*display: inline-block;*/

    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}

.todoeditbtn {
    cursor: pointer;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    background: url('images/note_edit.png') no-repeat center center;
}

.todoeditbtn:HOVER {
    cursor: pointer;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    background: url('images/note_edit.png') no-repeat center center;
    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}

.todoremovebtn {
    cursor: pointer;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    background: url('images/delete.png') no-repeat center center;
}

.todoremovebtn:HOVER {
    cursor: pointer;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    background: url('images/delete.png') no-repeat center center;
    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}

table.todogrid {
    border-width: 0 0 1px 0px;
    border-spacing: 0;
    border-collapse: collapse;
}
th.todogrid {
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 1px;
    background-color: #FFC;
    border: 1px solid black;
}

td.todogrid {
    border: 1px solid black;
    padding: 4px;
}
