$webResourceManager.requireResource("jira.webresources:global-static")
$webResourceManager.requireResource("jira.webresources:jira-global")
$webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
$webResourceManager.requireResource("jira.webresources:autocomplete")
$webResourceManager.requireResource("by.mik.jira.trainingProject:trainingProject-resources")

#disable_html_escaping()
$!{auiparams.put("controlHeaderClass", "aui-field-labelpicker")}
#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)

<div id="js-${customField.id}-ss-container">
    <select class="single-select long-field hidden heading-picker"
            id="${customField.id}"
            name="${customField.id}:name"
        #if ($issue && $issue.key)
            title="${textutils.htmlEncode($issue.key)}"
        #end
            data-container-class="long-field"
            data-project-key="${textutils.htmlEncode($issue.projectObject.key)}"
    >
        #if ($value)
            <option selected="selected" value="${textutils.htmlEncode($value.name)}">
                $textutils.htmlEncode($value.name)
            </option>
        #end
    </select>

    #if ($value)
        <input type="hidden" id="hidden-link" name="${customField.id}:link" value="${textutils.htmlEncode($value.link)}"/>
    #else
        <input type="hidden" id="hidden-link" name="${customField.id}:link" value=""/>
    #end
</div>

#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)
${auiparams.clear()}
